<link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
<div class="topnav">
  <a href="#home"><img src="assets/images/main logo.png" alt="Smiley face" height="60px" width="120px"></a>
  <!-- <a href="#"><i class="fa fa-fw fa-user mt-5"></i>about us</a> -->
  <!-- <a href="#"><i class="fa fa-fw fa-phone mt-5"></i>Contact</a> -->
   <a href="#"><span class="glyphicon glyphicon-sunglasses mt-5"></span>viewcart</a>
  <a href="#"><span class="glyphicon glyphicon-time mt-5"></span>PurchaseHistory</a>
  <a href="#"><span class="glyphicon glyphicon-eye-open mt-5"></span>view profile</a>
   <a href="#" id="l" ><i class="glyphicon glyphicon-off mt-5" ></i>logout</a>
  <!-- <a href="#" id="l" ><img src="assets/images/login.png " height="50px" width="120px" class="mt-3"></a> 
  <div class="dropdown" id="l">
      <button type="button" class="btn btn-outline mt-3 dropdown-toggle" data-toggle="dropdown">
          <img src="assets/images/register.png"height="70px" width="120px">
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">As a Buyer</a>
        <a class="dropdown-item" href="#">As a Seller</a>
        
      </div>
    </div>
    -->
    

  <div class="search-container mt-5">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search"[(ngModel)]="itemName">
      <button type="submit"(click)="search(itemName)"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>


 
  <div class="row">

  
    <!-- <h1 class="display-1">Ocean of Items</h1> -->
      
      <!-- cards -->
      <div class="card col-sm-2"*ngFor="let i of itemlist" >
        <img src="/assets/images/{{i.image}}" alt="Denim Jeans" style="width:100%">
        <h1>{{i.itemName}} </h1>
        <p class="price">{{i.price}}</p>
        <p>{{i.itemDescription}}</p>
        <p><button>Buy Now</button></p>
        <p><button (click)="AddtoCart(item)">Add to Cart</button></p>
      </div>
      
      
       
    </div>
    <br/>
    <br/>
    <div class="container"> 
    <div class="row">

  
        <div style="margin-left: 50px;" class="card col-md-4"*ngFor="let i of list" >
          <img src="/assets/images/{{i.image}}" alt="product" style="width:100%">
          <h1>{{i.itemName}} </h1>
          <p class="price">{{i.price}}</p>
          <p>{{i.itemDescription}}</p>
          <p><button>Buy Now</button></p>
          <p><button (click)="AddtoCart(i)">Add to Cart</button></p>
        </div>
        </div>
        
        <router-outlet></router-outlet>
         
      </div>
    
  

  

