<div class="topnav">
  <a href="#home"><img src="assets/images/logo.png" alt="Smiley face" height="60px" width="120px"></a>
  <a href="#"><i class="fa fa-fw fa-user mt-5"></i>about us</a>
  <a href="#"><i class="fa fa-fw fa-phone mt-5"></i>Contact</a>
   <a href="#"><span class="glyphicon glyphicon-sunglasses mt-5"></span>viewcart</a>
  <a href="#"><span class="glyphicon glyphicon-time mt-5"></span>PurchaseHistory</a>
  <a href="#"><span class="glyphicon glyphicon-shopping-cart mt-5"></span>BuyProduct</a>
   <a href="#" id="l" ><i class="fa fa-fw fa-user mt-5"></i>logout</a> -->
  <!-- <a href="#" id="l" ><img src="assets/images/login.png " height="50px" width="120px" class="mt-3"></a> 
  <div class="dropdown" id="l">
      <button type="button" class="btn btn-outline mt-3 dropdown-toggle" data-toggle="dropdown">
          <img src="assets/images/register.png"height="70px" width="120px">
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">As a Buyer</a>
        <a class="dropdown-item" href="#">As a Seller</a>
        
      </div>
    </div>
    -->
    

  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

  <div class="row">
    <div class="col-sm-8">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <p class="carouselTitle">Arashiyama</p>
        <img src="http://kclui.com/IVEST/ITP4208/images/BS4Carousel/carousel-1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <p class="carouselTitle">Uji</p>
        <img src="http://kclui.com/IVEST/ITP4208/images/BS4Carousel/carousel-2.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <p class="carouselTitle">Kiyomizu-dera</p>
        <img src="http://kclui.com/IVEST/ITP4208/images/BS4Carousel/carousel-3.jpg" alt="Third slide">
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="icon-prev" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="icon-next" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
  
<h1 class="display-1">Ocean of Items</h1>
  
  <!-- cards -->
  
   
</div>

  

