<link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
<div class="pattern">
<div class="topnav">
  <a [routerLink]="['/buyer-landing-page']"><img src="assets/images/main logo.png" alt="Smiley face" height="60px" width="120px"></a>
  <!-- <a href="#"><i class="fa fa-fw fa-user mt-5"></i>about us</a> -->
  <!-- <a href="#"><i class="fa fa-fw fa-phone mt-5"></i>Contact</a> -->
   <a [routerLink]="['/buyer-landing-page/search']"><span class="glyphicon glyphicon-shopping-cart mt-5"></span>Buy Product</a>
   <a [routerLink]="['/buyer-landing-page/view-cart']"><span class="glyphicon glyphicon-shopping-cart mt-5"></span>View Cart</a>
  <a [routerLink]="['/buyer-landing-page/purchase-history']"><span class="glyphicon glyphicon-calendar mt-5"></span>PurchaseHistory</a>
  <a [routerLink]="['/buyer-landing-page/view-profile']"><span class="glyphicon glyphicon-eye-open mt-5"></span>view profile</a>
   <a href="#" id="l" ><i class="glyphicon glyphicon-off mt-5" ></i>logout</a>
    

  <div class="search-container mt-5">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search"[(ngModel)]="itemname">
      <button type="submit"(click)="search(itemname)"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>


 
  <div class="row">

  
    <!-- <h1 class="display-1">Ocean of Items</h1> -->
      
      <!-- cards -->
      <div class="card col-sm-2"*ngFor="let i of itemlist" >
        <img src="/assets/images/{{i.image}}" alt="Denim Jeans" style="width:100%">
        <h1>{{i.itemName}} </h1>
        <p class="price">{{i.price}}</p>
        <p>{{i.itemDescription}}</p>
        <p><button [routerLink]="['/buyer-landing-page/buy-product']">Buy Now</button></p>
        <p><button (click)="AddtoCart(i)">Add to Cart</button></p>
      </div>
      
      
       
    
    <br/>
    <br/>
        
       
         
      </div>
    
    <router-outlet></router-outlet>
  </div>
    
  

  

