<div class="bg">
    <div class="container contact">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <img src="assets/images/sellerlogo.png" alt="Smiley face" height="60px" width="120px">
                    <h2>Add a Product</h2>
                    <h4>We would love to hear from you !</h4>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contact-form">
                    <form [formGroup]="additemform" (ngSubmit)="OnSubmit()">
                        <!-- <div class=form group>
                            <label class="control-label col-sm-2">ID:</label>
                            <input type="text" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" />
                            <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                                <div *ngIf="f.id.errors.required">ID is required</div>
                                <div *ngIf="f.id.pattern">Enter ID</div>
                            </div>                        
                        </div> -->

                        <div class=form group>
                            <label class="control-label col-sm-2">Category:</label>
                            <!-- <input type="text" formControlName="categoryId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }" /> -->
                            <select formControlName="categoryId" class="form-control" (change)="GetAllSubCategory()">
                                <option *ngFor="let item of categorylist" value="{{item.categoryId}}">{{item.categoryName}}</option>   
                           </select>
                            <div *ngIf="submitted && f.categoryId.errors" class="invalid-feedback">
                                <div *ngIf="f.categoryId.errors.required">Category is required</div>
                                <!-- <div *ngIf="f.cid.pattern">Enter Category</div> -->
                            </div> 

                        </div>
                        
                        <div class=form group>
                            <label class="control-label col-sm-2">Sub Category:</label>
                            <!-- <input type="text" formControlName="subCategoryId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subCategoryId.errors }" /> -->
                            <select formControlName="subCategoryId" class="form-control">
                                <option *ngFor="let item1 of subcategorylist" value="{{item1.subCategoryId}}">{{item1.subCategoryName}}</option>   
                           </select>

                            <div *ngIf="submitted && f.subCategoryId.errors" class="invalid-feedback">
                                <div *ngIf="f.subCategoryId.errors.required">Sub Category is required</div>
                                <!-- <div *ngIf="f.scid.pattern">Enter Sub Category</div> -->
                            </div> 

                        </div>
                        <div class=form group>
                            <label class="control-label col-sm-2">Seller ID:</label>
                            <input type="text" formControlName="sellerid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sellerid.errors }" />
                            <div *ngIf="submitted && f.sellerid.errors" class="invalid-feedback">
                                <div *ngIf="f.sellerid.errors.required">Seller ID is required</div>
                                <!-- <div *ngIf="f.scid.pattern">Enter Sub Category</div> -->
                            </div> 

                        </div>
                        <div class=form group>
                            <label class="control-label col-sm-2">Price:</label>
                            <input type="text" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                <div *ngIf="f.price.errors.required">Price is required</div>
                                <!-- <div *ngIf="f.price.pattern">Enter Price</div> -->
                            </div> 

                        </div>
                        <div class=form group>
                            <label class="control-label col-sm-2">Item name:</label>
                            <input type="text" formControlName="itemName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemName.errors }" />
                            <div *ngIf="submitted && f.itemName.errors" class="invalid-feedback">
                                <div *ngIf="f.itemName.errors.required">Item name required</div>
                                <!-- <div *ngIf="f.itemname.pattern">Enter Item</div> -->
                            </div> 

                        </div>
                        <div class=form group>
                            <label class="control-label col-sm-2">Description:</label>
                            <input type="text" formControlName="itemDescription" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemDescription.errors }" />
                            <div *ngIf="submitted && f.itemDescription.errors" class="invalid-feedback">
                                <div *ngIf="f.itemDescription.errors.required">description is required</div>
                                <!-- <div *ngIf="f.description.pattern">Enter description</div> -->
                            </div> 

                        </div>
                        <div class=form group>
                            <label class="control-label col-sm-2">Stock Number:</label>
                            <input type="text" formControlName="stockNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stockNumber.errors }" />
                            <div *ngIf="submitted && f.stockNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.stockNumber.errors.required">Username is required</div>
                                <!-- <div *ngIf="f.stocknumber.pattern"></div> -->
                            </div> 

                        </div>
                        <div class=form group>
                            <label class="control-label col-sm-2">Remarks:</label>
                            <input type="text" formControlName="remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }" />
                            <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
                                <div *ngIf="f.remarks.errors.required">Remarks is required</div>
                                <!-- <div *ngIf="f.remarks.pattern">Enter Remarks</div> -->
                            </div> 

                        </div>
                        <div class=form group>
                            <label class="control-label col-sm-2">Image:</label>
                            <input type="file" formControlName="image" (change)="fileEvent($event)">
                            <div *ngFor="let items of item">
                                <div>
                                    <img src='assets/images/{{items.img}}' style="height: 150px; width:150px;"><br>
                                    Name:{{items.itemName}}
                                </div>
                            </div>  

                        </div>


                        <div class="form-group">        
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-default">Add item</button>
                            </div>
                          </div>
                          
                          <!-- <div class="form-group">        
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-default" (click)="Search()">Search Item</button>
                            </div>
                          </div>

                          <div class="form-group">        
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-default"(click)="Update()">Update</button>
                            </div>
                          </div> -->
                        
                        
                        
                   
                     </form>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>


    
