<link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
<div class="bg">
<div class="topnav">
  
    <a class="col-sm-2"[routerLink]="['/seller-landing-page/add-items']">Add Item</a>
    <a class="col-sm-2"[routerLink]="['/seller-landing-page/view-items']">View Items</a>
    <a class="col-sm-2"[routerLink]="['/seller-landing-page/view-profile']">View/Edit profile</a>
    <a class="col-sm-2"[routerLink]="['/seller-landing-page/view-reports']">View Reports</a>
    
  </div>
  <router-outlet></router-outlet>
</div>








