<div class="row">
<div class="col-sm-4">
    <div class="card-body">
        <h5 class="card-title text-center">login</h5>
    
      <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>UserName</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">User Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary mr-1">Login</button>
            <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
        
        </div>

      </form>
    </div>
 
</div>

