<div class="bg">
    <div class="container contact">
        <div class="row">
            <div class="col-md-2">
                <div class="contact-info">
                    <img src="assets/images/sellerlogo.png" alt="Smiley face" height="60px" width="120px">
                    <h2>View Items</h2>
                    <h4>We would love to hear from you !</h4>
                </div>
            </div>
            <div class="col-md-10">
                <div class="contact-form">
                    <form>
                       

                       
                            
                          <div class="form-group">
                            <table class="table table-bordered">
                                <tr style="color: #ff9b00;">
                                  <th>ItemId</th>
                                  <th>Category ID</th>
                                  <th>SubCategory ID</th>
                                  <th>Seller ID</th>
                                  <th>Item Name</th>
                                  <th>Price</th>
                                  <th>Description</th>
                                  <th>Stock</th>
                                  <th>Remarks</th>
                                  <th>Edit</th>
                                  <th>Delete</th>
                                </tr>
                                <tr *ngFor="let item of list" style="color: black;">
                                  <td>{{item.id}}</td>
                                  <td>{{item.categoryId}}</td>
                                  <td>{{item.subCategoryId}}</td>
                                  <td>{{item.sellerid}}</td>
                                  <td>{{item.itemName}}</td>
                                  <td>{{item.price}}</td>
                                  <td>{{item.itemDescription}}</td>
                                  <td>{{item.stockNumber}}</td>
                                  <td>{{item.remarks}}</td>
                                
                                  <td><button class= "btn btn-default" (click)="Update()">Edit</button></td>
                                  <td><button class= "btn btn-default" (click)="Delete(item.id)">Delete</button></td>
                                </tr>
                              </table>
                              
                           
                              
                          </div>
                          

            
    
    
    
      
                    </form>
                </div>
             </div>
         </div>
       </div>
     </div>	
     <router-outlet></router-outlet>
    
                
    
    
